[submodule "backend"]
	path = backend
	url = https://github.com/cs5351-software-engineering/backend.git
[submodule "ollama"]
	path = ollama
	url = https://github.com/cs5351-software-engineering/ollama.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/cs5351-software-engineering/frontend.git
